# Developpement Documentation
docs/

# Local captures
captures/

# Python environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local configuration files
.env
venv/
.env*.local

# Cache files
*.cache

# specific zsh config for .gitignore
# macOS specific
.DS_Store
*.swp